Django==4.2.11
gunicorn
psycopg2-binary

dj-database-url==3.1.0
python-dotenv==1.2.1
whitenoise==6.11.0

arabic_reshaper==3.0.0
openpyxl==3.1.5
python_dateutil==2.9.0.post0

reportlab==4.4.9
xhtml2pdf==0.2.17
